.listRecipes {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-decoration: none;
  color: white;
  transition: 250ms;
  margin: 0 auto;
  width: 120px;
  height: 45px;
  border-radius: 20px;
  font-size: 14px;
  border-color: transparent;
  margin-bottom: 5px;
  position: fixed;
  top: 50px;
  right: 30px;
  opacity: 0.3;
  cursor: pointer;
}

.deleteBtn:hover {
  opacity: 1;
}
