.listRecipes {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.listRecipesItemDelete {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% / 6);
  padding: 15px;
  border: 3px solid rgba(24, 23, 23, 0.807);
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  color: white;
  background-color: rgb(171, 169, 169);
  padding-top: 30px;
}

.listRecipesItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% / 6);
  padding: 15px;
  border: 1px solid rgba(195, 193, 193, 0.179);
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  padding-top: 30px;
  background-color: white;
  opacity: 0.95;
}

.listRecipesItem:hover {
  background-color: rgb(237, 236, 236);
}

.imageWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
}
.imageStyle {
  display: block;
  margin: 0 auto;
}
.textWrapper {
  height: 120px;
}
.beerTitle,
.beerText {
  margin-bottom: 5px;
}
.linkBeer {
  text-decoration: none;
  color: black;
}
.linkBeer:hover {
  background-color: rgb(215, 191, 4);
  color: black;
}
