.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: 250ms;
  margin: 0 auto;
  width: 120px;
  height: 45px;
  border-radius: 20px;
  font-size: 14px;
  border-color: transparent;
  margin-bottom: 5px;
}
.addButton:hover {
  color: black;
}
